

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: "Montserrat", sans-serif;
  }

h1, h2 {
  color: #1b7e83;
}

a {
    text-decoration: none;
    color: #000;
}


.anchor:before { content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em }

.top-container h1, .top-container h2 {
    color: #000;
}

.main a i {
    transition: 1s;
}

.main a:hover {
    color: #1b7e83;
}

.top-container {
    position: relative;
}

.top-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("20160308_073530.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover
}


.top-container > .container {
    background: rgba(200, 211, 203, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(200, 211, 203, 0.44);
}

.full-width {
    width: 100%;
    border-radius: 16px;
}

.tags span {
    border: 2px solid #046a6f;
    color: #1b7e83;
    padding: 8px 8px;
    display: inline-block;
    margin: 4px;
    border-radius: 8px;
    font-size: 0.8rem;
}

.experience > ul, .education ul {
    list-style: none;
    padding: 0;
}

.experience > ul > li, .education > ul > li {
    padding: 10px 0;
}


footer {
    padding: 15px;
    background-image: url("20220219_192200.jpg");
    background-repeat: repeat;
    color:aliceblue !important;
	text-align: center
}

#lights{
    height: 80%;
    width: 80%;
    opacity: 0.8;
};

 
p{
  color:#525252;
  font-size:12px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
  background: #1b7e83;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
  background: #77af9e;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}


  